<h2 class="header">{{getLessonHeader()}}</h2>
<div class="lesson">
    <div class="boxheader">
        <div style="padding-top: 6px;">{{getLessonHeaderText()}}</div>
    </div>
    <div class="lessonChoices" *ngIf="!this.lesson">
        <h2>Lessons</h2>
        <span style="padding:10px" *ngFor="let item of [].constructor(this.currentLesson); let i = index">
            <button mat-raised-button color="accent" (click)="getLesson(i+1)">Lesson {{i+1}}</button>
        </span>
    </div>
    <div *ngIf="!endQuiz">
        <small
            style="display:block; padding: 8px; font-family:Georgia, 'Times New Roman', Times, serif; font-size:25px;"
            [innerText]="getLessonText()"></small>
        <div class="center" *ngIf="quiz || break">
            <div class="form-group" [(ngModel)]="currentChoice">
                <div *ngFor="let choice of choices; let i=index">
                    <div class="radio">
                        <input type="radio" id="{{choice}}" name="radio" [value]="choice"
                            (change)="setChoice($event)" />
                        <label for="{{choice}}">{{choice}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showInput">
            <form style="display:flex; justify-content: center; align-content: center;">
                <mat-form-field style="width:300px; padding:10px;">
                    <mat-label>Answer Here:</mat-label>
                    <input matInput type="text" id="input" name="input" [ngModel]="input" (change)="setInput($event)">
                </mat-form-field>
            </form>
            <div class="center">
                <button mat-raised-button color="primary" (click)="checkInput()">Check Answer!</button>
            </div>
        </div>

        <div id="codeSection">
            <div id="lesson1" hidden data-pym-src="https://www.jdoodle.com/embed/v0/3rgy?stdin=0&arg=0&rw=0"></div>
            <div hidden></div>
            <div id="lesson3" hidden data-pym-src="https://www.jdoodle.com/embed/v0/3rUH?stdin=0&arg=0&rw=1"></div>
        </div>

        <div class="center">
            <button mat-raised-button color="primary" (click)="checkAnswer(this.currentChoice)"
                *ngIf="quiz && !answered">Check Answer</button>
            <button mat-raised-button color="primary" *ngIf="answered" (click)="nextQuestion()">Next
                Question!</button>
        </div>
    </div>
    <div style="position: relative; padding: 5px;">
        <button style="float:left;" mat-raised-button color="primary" *ngIf="hasPrevious() && !quiz"
            (click)="flipPage(-1)">Back</button>
        <button style="float:right;" mat-raised-button color="primary" *ngIf="hasNext() && !showInput"
            (click)="flipPage(1)">Next</button>
    </div>
    <div *ngIf="endQuiz">
        <h3 class="center">You got :
            {{ correctAnswers }} / {{ totalQuestions }}
            Questions Correct!</h3>
        <div class="center">
            <button mat-raised-button color="primary" (click)="repeatQuiz()">Repeat Quiz</button>
            <button mat-raised-button color="primary" *ngIf="completedLesson()" (click)="nextLesson()">Next
                Lesson</button>
        </div>
    </div>
</div>