<div class="stats">
    <h1 style="margin-left:-2%">Progress</h1>
    <table>
        <tr>
            <th class="header">Lesson</th>
            <th class="header">Time Spent</th>
            <th class="header">Quiz Scores</th>
        </tr>
        <tr *ngFor="let time of getTimeSpent(); let idx = index;">
            <th style="width: 60px" class="data">{{idx+1}}</th> 
            <th class="data">
                <img style="float: left; width:50px; height:40px" src="../assets/images/pixil-frame-5.png">
                {{time}}
                <img style="float: right; width:50px; height:40px" src="../assets/images/pixil-frame-5.png">
            </th>
            <th class="data">
                <img style="float: left; width:50px; height:40px" src="../assets/images/pixil-frame-5.png">
                {{getQuizScores(idx)}}
                <img style="float: right; width:50px; height:40px" src="../assets/images/pixil-frame-5.png">
            </th>
        </tr>
    </table>
    <br/><br/>
    <div class="favActivity">
        <h1>Favorite Activity</h1><br/>
        <span>{{showFavoriteActivity()}}</span>
    </div>
</div>
